@charset "utf-8";
/* CSS Document */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html {
	font: 10px/1.5 微软雅黑, 幼圆, Tahoma, sans-serif;
	background-color: #fafafa;
}
body {
    min-width: 360px;
    max-width: 1920px;
    font-size: 1.6em;
    letter-spacing: 1px;
}
a {
    border-bottom: 1px solid black;
}
a:link {
    color: inherit;
    text-decoration: none;
}
a:visited {
    color: inherit;
}
a:focus {
    outline: none;
    background-color: #ccc;
    border-radius: 2px;
}
a:hover {
    color: deepskyblue;
    border-color: deepskyblue;
}
a:active {
    background-color: pink;
}
picture,
img {
    display: flex;
}
header {
    background-color: #eee;
} 
header .logo {
    padding: .5em 1em;
}
header .logo img {
    height: 1em;
}
header nav {
    padding: .75em 0;
    background-color: #fff;
    display: flex;
}
header nav ul {
    list-style-type: none;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
    width: 62%;
    margin-left: auto;
}
header picture img {
    width: 100%;
}
main {
    max-width: 375px;
    margin: 0 auto;
    padding: 0 1em;
}
section {
    margin-bottom: 6em;
}
section p {
    text-indent: 2em;
}
section h3 {
    text-align: center;
    padding: 2em 0 1em 0;
}
section h4 {
    text-align: center;
    padding: 1em 0;
}
section img {
    width: 100%;
    margin: 1em 0;
}
section .color p img {
    width: 1em;
    height: 1em;
    margin: 0 2px;
    display: inline-block;
}
section .hole h5 {
    padding: 1em;
}  
aside .poem {
    margin-bottom: 5em;
    font-family: 幼圆;
    font-size: .9em;
}
aside .poem span {
    font-size: .9em;
}
aside .sidebar {
    font-size: .8em;
    margin-top: 1em;
}
aside .sidebar div {
    width: 12em;
}  
aside video {
    width: 12em;
    height: 6.75em;
    opacity: .7;
} 
aside video:hover {
    opacity: 1;
}
footer {
	font-size: .7em;
    padding: 1.4em;
    margin-top: 6em;
    background-color: #eee;
}
.footers {
    max-width: 1024px;
    margin: 0 auto;
}
footer img {
    height: 1.1em;
}
footer a {
    display: inline-block;
    padding: 2px;
    border: 0;
}
.contact address,
.end {
    font-size: .8em;
}
.contact address a,
.end a {
    padding: 0;
    border-bottom: 1px solid black;
}
.contact address a:hover,
.end a:hover {
    border-color: deepskyblue;
}
.contact img.QR-code {
	display: none;
}
.contact a:hover .WeChat {
	display: none;
}
.contact a:hover .QR-code {  
	display: flex;
}
.Thanks a:hover img {
    transform: scale(1.1);
}
@media screen and (min-width: 768px) {
    body {
        font-size: 2em;
        letter-spacing: 1.25px;
    }
    main {
        max-width: 712px;
    }
}
@media screen and (min-width: 1024px) {
    main {
        max-width: 1064px;
        display: grid;
        grid-template-columns: 3fr 2fr;
    }
    aside {
        display: flex;
        flex-flow: column wrap;
        align-items: flex-end;
        justify-content: flex-end;
    }
    .poem {
        padding: 0 0 70em 4em;
    }
    .sidebar div {
        margin-left: auto;
    }
}
