@charset "utf-8";
/* CSS Document */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html {
	font: 10px/1.5 微软雅黑, 黑体, arial, sans-serif;
	background-color: #202020;
	color: white;
}
a {
    border-radius: 2px 2px;
    border-bottom: 1px solid white;
}
a:link {
    color: white;
    text-decoration: none;
}
a:visited {
    color: gray;
    border-color: gray;
}
a:focus {
    outline: none;
    background-color: white;
    color: black;
}
a:hover {
    color: deepskyblue;
    border-color: deepskyblue;
}
a:active {
    background-color: pink;
}
img {
    display: flex;
}
header {
    background-color: black;
    display: grid;
    grid-template-columns: 1fr 6fr 1fr;
    align-items: center;
}
header .logo {
    grid-column: 1;
    grid-row: 1;
}
header h1 {
    grid-column: 2;
    grid-row: 1;
    text-align: center;
}
/* 实现标志的切换 */
header img.b {
    display: none;
}
header .logo:hover img.a {
    display: none;
}
header .logo:hover img.b {
    display: inherit;
}
@media screen and (min-width: 768px) {
body {
    font-size: 1.5em;
}
header {
    grid-template-columns: 1fr 8fr 1fr;
}
}
@media screen and (min-width: 1024px) {
body {
    font-size: 3em;
}
}
main .content {
    width: 32em;
    margin: 0 auto;
}
.universe img {
	width: 100%;
} 
section p {
    text-indent: 2em;
}
section h2,
section h3 {
    text-align: center;
    padding: 1em 0;
}
section img {
    float: right;
}
section .theme img {
    width: 25%;
    margin: 1em 0 0 1em;
}
section .superluminal img {
    margin: .5em 6em 0 0;
    width: 15%;
    float: left;
}
section .superluminal span:first-of-type::after {
    text-indent: 0;
    content: "验显示超光速行空间下无法空间压缩，将";
    float: left;
    width: 6em;
    height: 4.5em;
}
section .superluminal p {
    position: relative;
}
section .superluminal label {
    position: absolute;
    top: 3.5em;
    left: 6em;
    z-index: 2;
    width: 4.8em;
    height: 3.6em;
}
section .superluminal input {
    position: fixed;
    left: 500em;
}
section .superluminal img:nth-of-type(2) {
    position: absolute;
    top: 3em;
    left: 11em;
    transition: left 1s;
    z-index: 1;
}
section .superluminal span:last-of-type::after {
    text-indent: 0;
    content: "是可能的，物超光速。现已物体后方的空";
    width: 6em;
    height: 4.5em; 
    background-color: #202020; 
    position: absolute;
    top: 3em;
    left: 10.8em;
    z-index: 3;
} 
section .superluminal input:checked + img {
    left: 6em;
}
section .color img {
    width: 30%;
    shape-outside: url("../images/三原色.svg");
}
section .hole img {
    width: 35%;
}
section .hole p:last-of-type {
    font-size: .7em;
    text-indent: 0;
    padding: 1em;
}   
section .hole>p a {
    position: relative;
}
section .hole>p a img {
    width: 10em;
    position: absolute;
    left: 0;
    bottom: 100%;
    display: none;
}
section .hole>p a:hover img {
    display: inherit;
} 
aside {
    padding: 3em 0;
}
aside .nav {
    margin: 3em 5em 0 5em;
}
aside .nav ul {
    display: flex;
    justify-content: space-between;  
}
aside .nav ul li {
    list-style-type: none;
    display: inline-block;
}
aside .nav a:active {
    background-color: lightgreen;
}/*
aside .nav ol li:nth-of-type(1) {
    background-color: red;
}
aside .nav ol li:nth-of-type(2) {
    background-color: orange;
}
aside .nav ol li:nth-of-type(3) {
    background-color: yellow;
}
aside .nav ol li:nth-of-type(4) {
    background-color: green;
}
aside .nav ol li:nth-of-type(5) {
    background-color: cyan;
}
aside .nav ol li:nth-of-type(6) {
    background-color: blue;
}
aside .nav ol li:nth-of-type(7) {
    background-color: purple;
}
aside .nav ul li:nth-child(3) {
    position: relative;
}
aside .nav ul li:nth-child(3) ol {
    position: absolute;
    top: 100%;
    left: 0;
    display: none; 
} 
aside .nav ul li:nth-child(3) ol li {
    list-style-type: none;
    width: 4em;
    height: 2em;
}
aside .nav ul li:nth-child(3) a:hover ol {
    display: initial;
}
aside .nav ol li:hover {
    transition: transform 0.2s;
    transform: scale(1.1);
} */
aside .yang {
    padding: 5em 5em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1em;
}
aside .yang img {
    width: 100%;
    opacity: .7;
    transition: transform 0.7s;
}
aside .yang img:hover {
    opacity: 1;
    filter: contrast(120%);
    transform: scale(1.1);
}
aside .funny {
    margin: 0 5em;
}
aside .funny iframe {
    border: 0;
    width: 16em;
    height: 9em;
}
aside .funny p {
    margin: 1em 0;
    font-size: .7em;
}
aside .funny video {
    width: 16em;
    height: 9em;
}
aside .funny video:hover {
    opacity: .7;
} 
footer {
	font-size: .6em;
	background-color: #303030;
    padding: 5em 0 2em 0;
    display: grid;
    grid-template-columns: 1fr 4fr 4fr 1fr;
}
@media screen and (min-width: 768px) {
    footer {
        grid-template-columns: 1fr 3fr 3fr 1fr;
    }
}
footer img {
    height: 1.3em;
}
footer a {
    display: inline-block;
    padding: 2px;
    border: 0;
}
.fleft {
    grid-column: 2/3;
    grid-row: 1;
}
.fleft address {
    margin: .5em 0;
}
.fleft address a,
footer .end a {
    padding: 0;
    border-bottom: 1px solid white;
}
.fleft address a:visited,
footer .end a:visited {
    border-color: gray;
}
.fleft address a:hover,
footer .end a:hover {
    border-color: deepskyblue;
}
.fleft img.QR-code {
	display: none;
}
.fleft a:hover .WeChat {
	display: none;
}
.fleft a:hover .QR-code {  
	display: flex;
}
.fleft a:hover img.wangyiyun,
.fright a:hover img {
    transform: scale(1.1);
}
.fright {
	grid-column: 3/4;
    grid-row: 1;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}
.fright p {
    text-align: right;
}
footer .end {
    grid-column: 2/4;
    grid-row: 2;
    display: flex;
    justify-content: center;
}