@charset "utf-8";
/* CSS Document */
html {
	margin: 0;
	padding: 0;
	font-family: "幼圆",serif;
	font-size: 1.5vw;
	background-color: #202020;
	color: white;
}
body {
	margin: 0;
	padding: 0;
}
a, a:visited {
	color: inherit;
	text-decoration: none;
}
header {
	margin: 0;
	padding: 0;
	display: flex;
	background-color: black;
}
header a {
	width: 7em;
	height: 7em;
	margin: 0;
    padding: 0;
	display: flex;
}
header a:hover {
	text-decoration: none;
}
header img {
	width: 100%;
}
header img.logo-hover {
	display: none;
}
header a:hover img.logo-default {
    display: none;
}
header a:hover img.logo-hover {
	display: block;
}
header h1 {
	padding: 1.9em 0 .5em 0;
	margin: 0;
	font-size: 2em;
	background-color: black;
}
nav a:hover {
	text-decoration: underline;
}
nav {
	margin: 0;
	padding: .1em 7em;
	background-color: #303030;
}
nav ul {
	margin: 0;
	padding: 0;
}
nav ul li {
	padding: 0;
	margin: 0;
	display: inline-block;
}
nav ul li a {
	padding: 0;
	margin: 0;
}
main {
	margin:0 7em;
	padding: 0;
	background-color: black;
}
main a:hover {
	outline: none;
	text-decoration: underline;
}
div.universe {
	padding: 0;
	margin: 0;
	display: flex;
}
div.universe img {
	width: 100%;
}
article {
	display: flex;
	padding: 0 0 0 .7em;
	margin: 0;
}
section.left {
	padding: .7em;
	margin: 0;
	width: 80%;
	background-color: #202020;
}
section.theme {
	padding: 0;
	margin: 0;
}
section.theme h2 {
	padding: 1em 0;
	margin: 0;
	text-align: center;
	font-size: 3em;
}
section.superluminal h2 {
	padding: 0 2em;
}
section.superluminal img {
	width: 20%;
	height: 10%;
	padding: 0;
    margin: 0;
}
section.color {
	display: flex;
}
section.color h2 {
	padding: 2em 2em;
}
section.color img {
    width: 40%;
	height: 40%;
}
section.hole {
	display: flex;
}
section.hole h2 {
	text-align: left;
	padding-top: 1em;
	padding-right: 2em;
}
section.hole img {
    width: 40%;
	height: 40%; 
}
section.black-hole h6 {
	padding: 0 0 .3em 3em;
	margin: 0;
}
aside img {
	width: 100%;
}
aside.asides {
	width: 20%;
	margin: 0;
	padding: 0;
	background-color: lightpink;
}
aside img.asides-light {
	padding: 2em 0;
	margin: 0;
	background-color: black;
}
aside.asides-yang {
	margin: 0 .7em 0 .3em;
	padding: 10em 0 13em 0;
	background-color: lightpink;
}
section.Einstein {
	padding: 0 0 0 .7em;
	margin: 0;
	display: flex;
}
section.Einstein h5 {
	width: 80%;
	padding: 0 .7em;
	margin: 0;
	text-align: center;
	font-size: .7em;
	background-color: #202020;
}
section.funny {
	width: 20%;
	padding: 0;
	margin: 0;
	background-color: lightpink;
}
section.funny video {
	width: 80%;
	padding: .5em;
	margin: 0 0 .5em .5em;
	display: flex;
	background-color: white;
}
section.funny h6 {
	padding: 0 0 .5em .5em;
	margin: 0;
	color: black;
}
section.funny a:hover {
	opacity: .7;
}
footer {
	margin: 0em;
	padding-top: 5em;
	font-size: .7em;
	background-color: #303030;
}
.footer-all {
	display: flex;
	padding: 0;
	margin: 0 10em;
}
.footer-left {
	width: 50%;
	padding: 0;
	margin: 0;
}
address {
	margin: 0;
	padding: 0;
}
address img {
	width: 4%;
}
address a:hover {
	color: aqua;
    text-decoration: none;
}
.footer-left a img {
	width: 4%;
}
.footer-left img.QR-code {
	display: none;
}
.footer-left a:hover .WeChat {
	display: none;
}
.footer-left a:hover .QR-code {  
	display: inline-block;
}
.footer-left a:hover .wangyiyun {
	opacity: .7;
}
.footer-right a:hover {
	opacity: .7;
}
.footer-right {
	width: 50%;
	padding: 2.8em 0 0 1em;
	margin: 0;
	text-align: right;
}
.footer-right img {
	width: 4%;
}
.footer-right span img {
	width: 6%;
	padding: 0;
	margin: 0;
}
.footer-in-the-end {
	text-align: center;
	padding: 0;
	margin: 0;
}
.footer-in-the-end p {
	padding: 2em;
	margin: 0;
}
.footer-in-the-end a:hover {
	color: aqua;
}
